/*
App reset by Ben Frain @benfrain / benfrain.com
Slightly modified by Bharani @bharani91 / github.com/bharani91
*/
/*Hat tip to @thierrykoblentz for this approach: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

input[type],
[contenteditable] {
  user-select: text;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/*IMPORTANT: This removes the focus outline for most browsers. Be aware this is a backwards accessibilty step! Mozilla (i.e. Firefox) also adds a dotted outline around a tags and buttons when they receive tab focus which I haven't found an unhacky way of removing.*/
a:focus,
button:focus {
  outline: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

input,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 1rem;
  font-family: inherit;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
input:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*Removes the default focusring that Mozilla places on select items. From: http://stackoverflow.com/a/18853002/1147859 
Ensure you set `#000` to the colour you want your text to appear */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

html, body {
  box-sizing: border-box;
}

html:before, html:after, body:before, body:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #111111;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.10em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .85em;
}

nav {
  margin: 1em 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .25em;
}

a {
  text-decoration: none;
  color: #2A923E;
}

a:hover, a:focus {
  color: #237933;
}

ul, ol {
  margin-top: 0;
  padding-top: 0;
  padding-left: 2.5em;
}

p {
  margin: 1em 0;
  hyphens: auto;
}

p.lead {
  font-size: 1.2em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p + ul, p + ol {
  margin-top: -.75em;
}

dd {
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 2.5em;
}

dt {
  font-weight: 700;
}

blockquote {
  margin: 0;
  padding-left: 2.5em;
}

.text-muted {
  color: #7A7A7A;
}

.text-center {
  text-align: center;
}

body,
html {
  padding: 0;
  margin: 0;
}

hr {
  margin: 10px 0;
}

#app {
  padding: 10px 20px;
  background: #ffffff;
  border-top: 25px solid #2A923E;
}

.popup-content {
  min-width: 420px;
  height: 600px;
}

.app-name {
  font-size: 14px;
  text-transform: uppercase;
  color: #7A7A7A;
  text-align: center;
  margin: 0 auto 1em;
  padding: 0;
}

.site-description {
  padding: .5em;
  border: 1px solid #eeeeee;
  margin: 0;
}

.site-description h3 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: .5em;
}

.site-description .description {
  color: #7A7A7A;
  max-height: 100px;
  font-size: .8em;
  line-height: 1.2;
}

.site-description .url {
  outline: none;
  text-decoration: none;
  line-height: 1.2;
  font-size: .8em;
  word-break: break-word;
  display: block;
}

.action-container {
  margin: 1em auto;
}

.btn {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: .5em 1.5em;
  background: #2A923E;
  color: #ffffff;
  font-weight: 500;
  border-radius: 2px;
  outline: none;
  font-size: 1em;
}

.btnSave {
  background-color: #2A923E;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #375423;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 0px 4px #2f6627;
}

.btnSave:hover {
  opacity: 0.8;
}

.btnSave:active {
  position: relative;
  top: 1px;
}

/* cusston css */
.onoffswitch-label {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 27px;
}

.onoffswitch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.onoffswitch-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.onoffswitch-switch:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .onoffswitch-switch {
  background-color: #2A923E;
}

input:focus + .onoffswitch-switch {
  box-shadow: 0 0 1px #2A923E;
}

input:checked + .onoffswitch-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.onoffswitch-switch.round {
  border-radius: 50px;
}

.onoffswitch-switch.round:before {
  border-radius: 50%;
}

.form-group {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.form-group label {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  text-align: right;
  width: 65px;
}

.form-group input[type="number"] {
  display: inline-block;
  padding: 3px;
  color: gray;
  border: 1px solid lightgray;
  font-size: 13px;
  max-width: 58px;
  height: 25px;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 100px;
  height: 25px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 0;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position: right center;
  background-repeat: no-repeat;
  width: 100%;
}

hr {
  border-color: #ffffff7a;
  margin-bottom: 10px;
}

.pretty {
  display: block !important;
  margin-bottom: 11px !important;
  margin-right: auto !important;
}

.pretty .state label {
  font-size: 15px;
}

footer p {
  color: lightgray !important;
  margin: 0 !important;
}

/** Custom Grid **/
.kc-grid {
  display: flex;
}

.kc-grid .kc-col {
  margin-right: 10px;
}

.kc-grid .kc-col:last-child {
  margin-right: 0;
}

.kc-grid .kc-col.kc-1-2 {
  width: 50%;
}

.kc-grid .kc-col.kc-1-3 {
  width: 33.333333%;
}

.kc-grid .kc-col.kc-2-3 {
  width: 66.666667%;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
  margin-bottom: 20px;
}

.j-content {
  justify-content: flex-end;
}

.ml-10 {
  margin-left: 10px;
}

.mb-none {
  margin-bottom: 0 !important;
}

.ck-all-container {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.ck-all-container .days-label {
  font-weight: 400;
  font-size: 16px;
}
