/*
App reset by Ben Frain @benfrain / benfrain.com
Slightly modified by Bharani @bharani91 / github.com/bharani91
*/
/*Hat tip to @thierrykoblentz for this approach: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

input[type],
[contenteditable] {
  user-select: text;
}

/*IMPORTANT: This removes the focus outline for most browsers. Be aware this is a backwards accessibilty step! Mozilla (i.e. Firefox) also adds a dotted outline around a tags and buttons when they receive tab focus which I haven't found an unhacky way of removing.*/
a:focus,
button:focus {
  outline: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

input,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 1rem;
  font-family: inherit;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
input:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*Removes the default focusring that Mozilla places on select items. From: http://stackoverflow.com/a/18853002/1147859
Ensure you set `#000` to the colour you want your text to appear */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

body {
  margin: 0 !important;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1E1E1E;
  }
}

label {
  font-size: 0.8em;
}

#raceDisplay {
  padding: 1em 0.5em;
}
#raceDisplay #raceOverview {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
#raceDisplay #raceOverview table tr, #raceDisplay #raceOverview table thead, #raceDisplay #raceOverview table tbody {
  display: block;
  float: left;
}
#raceDisplay #raceOverview table th, #raceDisplay #raceOverview table td {
  display: block;
}
#raceDisplay #raceOverview table td {
  text-align: center;
}
#raceDisplay #raceOverview .title {
  padding-right: 5px;
}
#raceDisplay #raceOverview .overviewPanel {
  align-items: center;
  margin: 2px;
}
#raceDisplay #raceOverview .overviewPanel .ant-input-number {
  width: 35px;
  height: 20px;
}
#raceDisplay #raceOverview .overviewPanel .ant-input-number .ant-input-number-input {
  text-align: center;
  padding: 0 5px;
  height: 18px;
}

.ant-segmented-item {
  font-size: 1em;
}

.ant-modal-content .ant-modal-close {
  margin-right: 10px;
  margin-top: 7px;
}
.ant-modal-content .ant-modal-header {
  border-bottom: 2px solid #f0f0f0;
}
.ant-modal-content .ant-modal-header .ant-modal-title {
  font-size: 22px;
  font-weight: 600;
}

.ant-form-item {
  margin-bottom: 6px;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 8px 0;
}

#dayPlanner {
  width: 1000px;
}
#dayPlanner .bd {
  height: 515px;
}
#dayPlanner .dateSelect {
  float: left;
}
#dayPlanner .mode {
  float: right;
}
#dayPlanner .importExport {
  float: right;
  margin-right: 25px;
}
#dayPlanner .importExport button {
  margin: 0 2px;
  float: right;
  width: fit-content;
  min-width: 90px;
}
#dayPlanner .rowContainer {
  clear: both;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}
#dayPlanner .rowContainer .plannerRow {
  display: flex;
  height: 50px;
  border-bottom: 1px dashed #aaa;
  padding-top: 5px;
}
#dayPlanner .rowContainer .plannerRow .venue {
  width: 180px;
}
#dayPlanner .rowContainer .plannerRow .races {
  width: 120px;
  margin: 8px 5px 0 5px;
  white-space: nowrap;
}
#dayPlanner .rowContainer .plannerRow .races input {
  border-bottom: 1px solid #cccccc;
  width: 45px;
  margin-left: 7px;
}
#dayPlanner .rowContainer .plannerRow .selectBookies {
  width: 700px;
}
#dayPlanner .rowContainer .plannerRow .selectBookies .bookieSelect {
  float: left;
  margin-top: 3px;
}
#dayPlanner .rowContainer .plannerRow .selectBookies .bookieSelect .bookieSelectDropdownWrapper {
  position: absolute;
}
#dayPlanner .rowContainer .plannerRow .selectBookies .bookieSelect .bookieSelectDropdownWrapper .bookieSelectDropdownBody {
  position: fixed;
  margin: -0.6em -0.8em;
  padding: 0.6em 0.8em;
}
#dayPlanner .rowContainer .plannerRow .status, #dayPlanner .rowContainer .plannerRow .delete {
  width: 20px;
  padding-top: 6px;
}
#dayPlanner .viewPlan {
  clear: both;
}
#dayPlanner .viewPlan td {
  white-space: nowrap;
  padding: 0 20px;
}

.main-footer .bonus-logo {
  margin: 0 auto;
}

.bookieIcon {
  margin: 1px;
}

.radioToggle {
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.radioToggle.iconSet input + label {
  padding: 4px 8px;
}
.radioToggle input + label {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #DDD;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
@media (prefers-color-scheme: dark) {
  .radioToggle input + label {
    background-color: rgba(221, 221, 221, 0.5);
  }
}
.radioToggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
}
.radioToggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
}
.radioToggle input:checked + label {
  background-color: rgb(37, 137, 80);
}

.modal {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: start;
  flex-direction: column;
  border-radius: 5px;
  min-height: 50vh;
  max-height: 97vh;
  max-width: 95vw;
}
.modal .modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #27AE60;
  margin-bottom: 10px;
}
.modal .modalHeader .title {
  font-size: 22px;
  font-weight: 600;
}
.modal .modalHeader .close svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.modal.dayPlanner .modalBody {
  display: flex;
}
.modal .modalBody {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 5px;
  min-height: 200px;
  flex-wrap: wrap;
}
.modal .modalBody .section {
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #929292;
  border-radius: 10px;
}
.modal .modalBody .section .sectionTitle {
  position: absolute;
  top: -12px;
  left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 17px;
}
.modal .modalBody .section .sectionBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#introduction {
  margin: 20px;
  font-size: 120%;
}

.raceList::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-left: -10px;
  width: 5px;
  height: 5px;
}
.raceList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.raceList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.raceList .raceListItem.raceListItem_vertical {
  border-bottom: 1px solid;
  padding: 10px 2px;
  direction: ltr;
}
.raceList .raceListItem.raceListItem_horizontal {
  padding: 2px 5px;
  overflow: hidden;
  border-right: 1px solid;
}
.raceList .raceListItem.raceListItem_horizontal .countdown {
  margin-left: 5px;
}
.raceList .raceListItem.raceListItem_horizontal .time {
  display: none;
}
.raceList .raceListItem.raceListItem_horizontal:hover .promoIndicator {
  height: 38px;
}
.raceList .raceListItem .promoIndicator {
  display: none;
}
.raceList .raceListItem.raceListItemCollapsed {
  padding: 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
.raceList .raceListItem:hover {
  cursor: pointer;
}
.raceList .raceListItem:hover .promoIndicator {
  display: block;
  position: fixed;
  width: 50px;
  height: 45px;
  margin-top: -10px;
  padding-top: 10px;
  z-index: 10;
  margin-left: -5px;
  padding-left: 5px;
}

#raceSettingsForm .ant-form-item-label {
  line-height: 8px;
  margin-left: 5px;
}
#raceSettingsForm .ant-form-item-label label {
  white-space: nowrap;
  font-size: 10px;
  font-weight: bold;
  height: auto;
}
#raceSettingsForm .ant-form-item-label label span {
  font-size: 10px;
}
#raceSettingsForm .ant-input-number-input {
  width: 50px;
}

.race-table .ant-table-content td {
  padding: 2px !important;
}
.race-table .race-table-small .ant-table-content {
  font-size: 65%;
}

.ant-btn {
  box-shadow: none !important;
}

.ant-layout-sider-trigger {
  position: relative !important;
  bottom: 20px !important;
}

.ant-layout-header {
  line-height: 25px;
}

.tr.ant-table-row:hover > td {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.ant-menu-sub {
  background-color: #144B2C !important;
}

.mainNav {
  max-width: calc(100% - 350px);
}

.theme-dark {
  background-color: #1E1E1E;
}
.theme-dark .secondaryToolbar {
  background-color: #1f7344;
}
.theme-dark .raceListItem_vertical {
  border-bottom-color: #2b2b2b !important;
}
.theme-dark .raceListItem_horizontal {
  border-right-color: #2b2b2b !important;
}
.theme-dark #raceSettingsForm {
  background-color: #1f7344;
}
.theme-dark #raceContainer > div:first-child {
  background-color: #141414;
}

.theme-light .secondaryToolbar {
  background-color: #CFDBD5;
}
.theme-light .CollapsedRaceListFilterButton {
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
}
.theme-light .raceListItem_vertical {
  border-bottom-color: #f2f2f2 !important;
}
.theme-light .raceListItem_horizontal {
  border-right-color: #f2f2f2 !important;
}
.theme-light #raceSettingsForm {
  background-color: #cfdbd5;
}
.theme-light #raceContainer > div:first-child {
  background-color: #F5F5F5;
}

#raceContainer.stickyHeader > div:first-child {
  position: sticky;
  top: 0;
  z-index: 200;
  padding-bottom: 10px;
}